#map {
  width: 100%;
  min-height: 400px;
}

.navbar li.active{
  color: #555;
  background-color: #e7e7e7;
}

.page-title{
  margin-top:39px;
  min-height: 0;
}

.table-container {
  display: table;
  width: 100%;
  height: 90%;
}

.table-container .table-row {
  height: 100%;
  display: table-row;
}

.table-container .table-row .table-col {
  display: table-cell;
  float: none;
  vertical-align: top;
}

.table-row form{
  margin: auto;
  padding: 10px;
}
.select2-container .select2-choice{
  min-height: 34px;
}
.select2-container .select2-choice span{
  padding:5px;
}
.mynav .navbar-btn {
  margin-bottom: 2px;
  margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
.leaflet-popup-content svg{
  position: relative;
}
.mynav .nav-justified{
  float:left;
  margin-top:3px;
}

.mynav.navbar.navbar-default{
  min-height: 40px;
  margin-bottom: 0px;
}

.mynav .nav > li > a {
  padding: 7px 18px;
}

.mynav .navbar-right{
  position:absolute;
  right:0;
  margin-right: 0px;
}

.mytable>tbody>tr>td{
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: middle;
}

.preview_pictures img{
  min-height: 100px;
  max-height: 150px;
}

.preview_pictures .current img{
  min-height: 150px;
  max-height: 200px;
}

.preview_pictures{
  min-height: 200px;
  max-height: 250px;
}

.popup__picture{
  width: 100px;
  height: 100px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

rect:hover{
  fill-opacity:1;
}

.graph-bars rect:hover{
  fill-opacity:0.8;
}
.graph{
  //position: relative;
}

.leaflet-popup-content .graph{
  min-width:300px;
  position: relative;
}

.dot:hover{
  stroke-width:1px;
  stroke:grey;
  cursor: pointer;
}

.map.all_survey{
  height: 90%;
}

.years_choices .rowyear .checkbox{
  margin:3px;
  display: inline-block;
}
.years_choices hr{
  margin-top: 5px;
  margin-bottom: 5px;
}
.years_choices{
  padding: 20px;
  padding-bottom: 0px;
  padding-left: 15px;
}

.legend_item{
  border-radius: 50%;
  width: 13px;
  height: 13px;
  margin: 3px;
  margin-left:0px;
  margin-right: 10px;
  background-color: white;
  border: 1px solid black;
  display: inline-flex;
  opacity: 0.7;
}

#altitudes_slider{
  margin-top:20px;
  min-width: 93%;
  margin-left: 15px;
}

#altitudes{
  display: none;
}

.map-control select{
  margin-bottom: 5px;
}

.graph{
  position: relative;
}

div.tooltip {
  position: absolute;
  text-align: center;
  min-width: 60px;
  min-height: 12px;
  padding: 8px;
  font: 12px sans-serif;
  background: white;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
}

/* Base for label styling */
.rowyear [type="checkbox"]:not(:checked),
.rowyear [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.rowyear [type="checkbox"]:not(:checked) + label,
.rowyear [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.rowyear label span{
  color:black;
  font-weight: normal;
}
/* checkbox aspect */
.rowyear [type="checkbox"]:not(:checked) + label:before,
.rowyear [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 18px; height: 18px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
.rowyear [type="checkbox"]:not(:checked) + label:after,
.rowyear [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; left: 2px;
  font-size: 18px;
  //color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
.rowyear [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.rowyear [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.rowyear [type="checkbox"]:disabled:not(:checked) + label:before,
.rowyear [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.rowyear [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.rowyear [type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
.rowyear [type="checkbox"]:checked:focus + label:before,
.rowyear [type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
.rowyear label:hover:before {
  border: 1px solid #4778d9!important;
}

.snowing-area .controls{
  display:flex;
  width:50%;
  margin:auto;
}

.snowing-area .bar {
  fill: steelblue;
  fill-opacity: .9;
}

.snowing-area .bar:hover {
  fill: brown;
}

.picker__day.picker__day--infocus.snowing{
  background: #76b729;
  color: white;
  border: 1px solid #76b729;
  opacity: 0.9;
}
.picker__day.picker__day--infocus.snowing:hover{
  opacity: 1;
}

form {
  max-width: 500px;
  margin: auto;
}

.awesome-marker  .ion-leaf{
  font-size: 17px;
}


.all_survey .popup-with-graph{
  min-width: 300px;
  min-height: 245px;
  position: relative;
}

.no-margin{
  margin:0;
}

.no-padding{
  padding:0;
}

.padding-10{
  padding: 10px;
}

.padding-5{
  padding: 5px;
}

.padding-bottom-10{
  padding-bottom: 10px;
}

.padding-bottom-20{
  padding-bottom: 20px;
}

.missed{
  color:red;
}

.found{
  color:green;
}


.ion-leaf:before{
  font-size:11px;
}

/*.icon-bullet{
  list-style: none;
  margin-left: -17px;
}*/

.required label{
    font-weight: bold;
}
.required label:after{
    color: #e32;
    content: ' *';
    display:inline;
}
.form-group .picker__input, .picker__input:hover{
  cursor: pointer;
}

th:first-letter {
   text-transform:uppercase;
}

.alert{
  margin-bottom: 0;
  margin-top: 40px;
}
.alert {
  position: absolute;
  right: 5px;
  z-index : 10000;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.6);
  border: 1px solid rgba(0,0,0,.1);
}
.alert.alert-success {
  color: #d6e9c6;
  background-color: #127c14;
}
.alert.alert-danger {
  background-color: #a94442;
  color: #f2dede;
}
/*****************************/

/* .display__stage, .display__individual{
  display: none;
} */

a.display__species{
  display:block;
}
.block-snowing {
  margin-top: 20px;
}
.block-species {
  text-align: left;
  border-radius: 0px;
}

.graph-controls select{
  font-size: 0.85em;
  padding-left: 0.1em;
  padding-right: 0.1em;
}


/* Optimization */
form .answer > label {
    display: block;
    margin-top: 5px;
}


/*****************/
/* FIX : pickdate modal display appears at the bottom */
@media (min-height: 33.875em) {
  .picker--opened .picker__frame {
    top: 10% !important;
  }
}
