<html>

  {% load bootstrap3 %}
  {% load staticfiles %}
  {% load json_filters %}
  {% load i18n %}

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/leaflet/leaflet.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/leaflet.awesome-markers/leaflet.awesome-markers.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/css/jquery.dataTables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-slider/css/bootstrap-slider.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'select2/css/select2.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/ionicons/css/ionicons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />

    <script src="{% static 'vendor/jquery/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'vendor/leaflet.awesome-markers/leaflet.awesome-markers.js' %}"></script>
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/d3js/d3.min.js' %}"></script>
    <script src="{% static 'vendor/momentjs/moment-with-locales.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-slider/bootstrap-slider.min.js' %}"></script>
    <script src="{% static 'select2/js/select2.js' %}"></script>

  <script type="text/javascript">
    var phenoclim = phenoclim || {};
    phenoclim.options = phenoclim.options || {};
    var userLang = navigator.language || navigator.userLanguage;
    moment.locale(userLang);
    {% if form and form.instance %}
      phenoclim.options.geojson = {{ form.instance.getAllGeojson|jsonify|safe }};
    {% endif %}
  </script>

   <body>
     {% block navigation %}
      {% if user.is_authenticated %}
        {% include "navigation.html" %}
      {% endif %}
     {% endblock %}


     <div class="container-fluid page-title">
      {% bootstrap_messages messages %}
      <div class="row">
        <h2 class="col-xs-12 text-center">{% block title %}{% endblock %}</h2>
      </div>
     </div>

     <div class="container-fluid table-container">
       {% block content %}
       {% endblock %}
     </div>

   </body>

   <script src="{% static 'js/charts.js' %}"></script>
   <script src="{% static 'js/d3Charts.js' %}"></script>
   <script type="text/javascript" src="{% static 'vendor/iframeresizer/iframeResizer.contentWindow.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</html>
